.container{
    margin: auto;
    min-height: 60px;
    width: 55%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border: 1px solid #333;
    border-radius: 1rem;
    margin-bottom: 2rem;

}
.item{
    height: 50px;
    width: 90%;
    padding: 0.3rem 1rem;
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;  
    border: 1px solid ;
    margin: 0.6rem 0rem;
}

.container li{
    list-style-type: none;
    font-weight: bold;
}